.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 1px solid #111;
    margin-right: -50%;

    .profile__delete {
       
    }

}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}