input {
    border: none;
    border-bottom:#566855 solid 3px;
    background: transparent;
    width: 100%;
    padding: 3px;
    transition: all ease 1s;
    &:focus {
        outline: none;
        transform: scale(1.1);
    }
}

::-webkit-input-placeholder {
    color: #566855;
    font-weight: 700;
}